.cajita{
    margin: 0 20px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    position: relative;
}

@keyframes ejemplo{
    from{
        left: 0px;
        background-color: red;
    }
    to{
        left: 250px;
        background-color: blue;
    }
}

.linear{
    animation: ejemplo 2s linear 0 infinite alternate;
}
.ease{
    animation: ejemplo 2s ease 0 infinite alternate;
}
.ease-in{
    animation: ejemplo 2s ease-in 0 infinite alternate;
}
.ease-out{
    animation: ejemplo 2s ease-out 0 infinite alternate;
}
.ease-in-out{
    animation: ejemplo 2s ease-in-out 0 infinite alternate;
}
